body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	color: #fff;
	text-align: center;
	align-items: center;
	background-color: #226700;
	box-sizing: border-box;
	justify-content: center;
	background: linear-gradient(106deg, #1b5000 0%, rgba(34, 126, 1, 0.76) 100%);
}

h1,
p,
img {
	margin: 0 0 15px 0;
}

.main a svg {
	width: 20px;
	height: 20px;
	fill: #fff;
	transition: all 300ms ease-out;
}

.main a:hover svg,
.main a:focus svg {
	fill: rgba(255, 255, 255, 0.7);
	outline: none;
}

.footer {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -0%);
}

#f_t {
	font-size: 13px;
}

@media (min-width: 323px) {
	p {
		max-width: 290px;
	}
}

@media (min-width: 400px) {
	p {
		max-width: 310px;
	}
}

@media (min-width: 630px) {
	p {
		max-width: 610px;
	}
}

@media (min-width: 900px) {
	p {
		max-width: 630px;
	}
}
